.outline-container {
  /* TODO This should become some sort of default for sidebars*/
  width: 100%;
  background-color: var(--color-d-gray-120);
  border: 1px solid var(--color-d-gray-60);
  border-radius: 0.3rem;
}

.outline-content {
  padding: 0.2rem;
}


.outline-h1,
.outline-h2,
.outline-h3,
.outline-h4 {
  list-style: none;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.outline-h2 {
  margin-left: 0.1rem;
}
.outline-h3 {
  margin-left: 0.2rem;
}
.outline-h4 {
  margin-left: 0.3rem;
}
.outline-container ul {
    padding: 0;
    margin: 0;
}

.outline-container li {
    padding: 0;
    font-size: 75%;
}