/* styles/sidebar.css */

.sidebar {
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
  display: grid;
  color: var(--text-color);
  overflow: hidden;
}

#left-sidebar {
  border-right: 1px solid var(--border-color);
}

#right-sidebar {
    border-left: 1px solid var(--border-color);
}

/* Hide/show transition */
#app-container.sidebar-hidden #sidebar {
  min-width: 0;
  width: 0;
  overflow: hidden;
}

#sidebar-header {
  padding: 8px;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--border-color);
  /* flex-shrink: 0; is no longer needed */
}

/* Generalize selector */
.sidebar nav,
.sidebar-panel-container {
  overflow-y: auto;
  min-height: 0; /* Prevents content overflow issues */
}

#notes-list {
  list-style: none;
  padding: 0 3px;
  margin: 0;
  font-size: 75%;
}

#notes-list ul {
  padding: 0;
  padding-top: 3px;
}

#notes-list li {
  padding: 2px 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#notes-list li.active {
  background-color: var(--accent-bg);
}

/* Generalize selector */
.sidebar-panel-container {
  padding: 0.5rem;
}

#left-sidebar-panel-container {
    border-top: 1px solid var(--border-color);
}


/* File Tree Styles */
#notes-list ul {
  padding-left: 1rem;
  list-style: none;
  margin: 0;
}
#notes-list details {
  cursor: pointer;
  margin: 0;
}
#notes-list summary {
  list-style: none;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
#notes-list summary::before {
  content: "▸ ";
}
#notes-list details[open] > summary::before {
  content: "▾ ";
}